<!DOCTYPE html>

<head>
    <title>Forgot</title>
</head>
<body>
    <script>
        function validate(){ 
        var a=document.getElementById("rpas").value;
        var b=document.getElementById("copas").value;
if(a!=b) 
alert("Enter the valid password");
        }
    </script>
    
        <center><table><h2>Reset Password</h2>
            <form action="#" class="forgot">
                  <div class="field">
                    <h4> Email address:<input type="text" placeholder="Email Address" required  id="mail"> </h4>
                  </div>
                  <div class="field">
                     <h4>Reset Password:<input type="password" placeholder="Password" required id="rpas"></h4>
                  </div>
                  <div class="field">
                    <h4>Confirm Password:<input type="password" placeholder="Confirm password" required id="copas"></h4>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                    <h4><input type="button" value="Reset" onclick="validate()"></h4>
                  </div>
               </form>
            
        

    </table>
     </center>
  
</body>
</html>
